<section class="price-block" [ngClass]="theme">
  <app-title
    class="title"
    [color]="inverseTextColor"
    [align]="'center'"
    [level]="'h2'"
    [title]="title"
    [type]="titleType">
  </app-title>

  <div class="controls" role="region" aria-label="Geschlechterauswahl">
    <app-button-option
      [options]="[
        { label: 'Damen', value: 'woman' },
        { label: 'Herren', value: 'man' }
      ]"
      [selected]="gender()"
      (selectionChange)="onGenderChange($event)">
    </app-button-option>
  </div>

  <div class="table-wrap">
    <app-table
      [src]="src"
      [selectedGender]="gender()">
    </app-table>
  </div>
</section>
