<div class="footer-section">
  <div class="footer-top">
    <h2 class="back-to-top"><a href="#topSection" class="no-underline">Back Home</a></h2>
    
    
    <div class="social-buttons">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="social-icon facebook"></a>
      <a href="https://www.instagram.com/farewell.salon/" target="_blank" aria-label="Instagram"
      class="social-icon instagram"></a>
      <a href="https://www.linkedin.com/company/farewell-gmbh/about/" target="_blank" aria-label="LinkedIn"
      class="social-icon linkedin"></a>
    </div>
  </div>

  <h3 class="back-to-top">
  <a
    href="https://salonkee.de/salon/farewell?lang=de"
    target="_blank"
    rel="noopener noreferrer"
    class="no-underline"
  >
    TERMIN BUCHEN
  </a>
</h3>
  
  <div class="footer-content">
    <div class="column contact">
      <p><strong>FareWell</strong></p>
      <p>
        <a href="https://g.co/kgs/ycCwT2s" target="_blank" rel="noopener noreferrer"
          aria-label="Öffnet Google Maps in einem neuen Tab oder in der App">
          Frauentorgraben 5<br>
          90443 Nürnberg
        </a>
      </p>
      <p><a href="tel:+4915734442716">tel: +49 157 5799 5694</a></p>
      <p><a href="mailto:info@farewell.de">FareWellGmbH&#64;gmail.com</a></p>
    </div>

    <div class="column links">
      <a href="/impressum">Impressum</a>
      <a href="/datenschutz">Datenschutz</a>
      <a href="/agb">AGB</a>
    </div>
  </div>
</div>