@use 'themes/theme-entry' as *;

.plan-parallax {
    background-size: cover;
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  