@if (groups.length === 0) {
  <p class="list-empty">{{ lang.t('Keine Aufgaben in dieser Ansicht.', 'No tasks in this view.') }}</p>
} @else {
  <div class="list">
    @for (group of groups; track group.category.id) {
      <app-task-category
        [group]="group"
        [user]="user"
        [now]="now"
        [collapsed]="isCollapsed(group.category.id)"
        [panelId]="'cat-panel-' + group.category.id"
        (toggle)="toggleCategory.emit(group.category.id)"
        (requestComplete)="requestComplete.emit($event)"
        (requestTrigger)="requestTrigger.emit($event)"
      />
    }
  </div>
}
