<app-image-hero
  id="topSection"
  [paragraphText]="paragraphText"
  [paragraphAlign]="'center'"
  [paragraphWeight]="'bold'"
  [paragraphColor]="'light'"
  [paragraphType]="'blur'"
  [paragraphSize]="'large'"
  [backgroundImage]="'assets/images/farewell/payment.png'"
  [shadow]="'dark'"
  [height]="'75'"
  [titleLevel]="'h1'"
  [title]="'Electrolyse Preise'"
  [titleType]="'blur'"
  >
</app-image-hero>

<app-price-block
  [theme]="'dark'"
  [title]="'IPL Preise'"
  [titleType]="'simple'"
  [src]="'assets/data/prices.json'"
  [initialGender]="'woman'">
</app-price-block>