@use 'themes/theme-entry' as *;

.title {
  font-family: $h1-font;
  text-transform: uppercase;
  display: block; 
  width: 100%;
  padding: 15px 0px;
  font-weight: bold;
  letter-spacing: 0.2rem;

  font-size: 30px;
  line-height: 48px;

  &.color-light {
    color: $font-light;
  }

  &.color-dark {
    color: $font-dark
  }

  &.cornered {
    border: 10px solid currentColor;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
  }

  &.simple {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
  }

  &.soft {
    border: none;
    border-radius: 1.5rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
  }

  &.center {
    text-align: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.justify {
    text-align: center;
  }
}

h1.title {
  font-size: 3rem;
  font: $h1-font;
}

h2.title {
  font-size: 2.25rem;
  font: $h2-font;
}

h3.title {
  font-size: 1.5rem;
  font: $h3-font;
}

@media (max-width: 768px) {
  .title {
    font-size: 8vw;
    line-height: 30px;
    letter-spacing: 5px;
    padding: 15px 0px;
  }

  h1.title {
    font-size: 2rem;
  }

  h2.title {
    font-size: 1.75rem;
  }

  h3.title {
    font-size: 1.25rem;
  }
}
