<app-image-section
  [backgroundImage]="backgroundImage"
  [backgroundAlt]="imageAlt"
  [shadow]="computedShadow"
  [height]="height"
  [backgroundFit]="backgroundFit"
  [backgroundPosition]="backgroundPosition"
  [imagePriority]="'high'"
  [imageLoading]="'eager'"
  [ngClass]="['hero-container', 'margin-top-' + margin, 'height-' + height]"
>
  <div class="hero-content">
    <app-title
      [level]="titleLevel"
      [color]="titleColor"
      [align]="titleAlign"
      [title]="title"
      [type]="titleType"
    >
    </app-title>

    <app-paragraph
      class="hero-paragraph"
      [size]="paragraphSize"
      [align]="paragraphAlign"
      [weight]="paragraphWeight"
      [color]="paragraphColor"
      [type]="paragraphType"
      [maxWidth]="paragraphMaxWidth"
    >
      {{ paragraphText }}
    </app-paragraph>

    @if (buttonList.length) {
      <app-button-list [buttons]="buttonList"></app-button-list>
    }

    @if (googleReviews) {
      <div class="hero-reviews">
        <fw-google-reviews></fw-google-reviews>
      </div>
    }
  </div>
</app-image-section>