<app-image-section
  [backgroundImage]="backgroundImage"
  [shadow]="computedShadow"
  class="hero-container">

  <div class="hero-content">
    <app-title
      [level]="titleLevel"
      [color]="titleColor"
      [align]="titleAlign"
      [title]="title"
      [type]="titleType"
      >
    </app-title>
    <app-separator [color]="paragraphColor"></app-separator>
    <app-paragraph
      class="hero-paragraph"
      [size]="paragraphSize"
      [align]="paragraphAlign"
      [weight]="paragraphWeight"
      [color]="paragraphColor"
      [type]="paragraphType"
      [maxWidth]="paragraphMaxWidth">
      {{ paragraphText }}
    </app-paragraph>
     <app-button-list 
     [buttons]="buttonList">
    </app-button-list>
  </div>

</app-image-section>
