@use 'themes/theme-entry' as *;

.hero-container {
  height: auto;
  overflow: visible;
  display: block;

  &.height-50 { min-height: 50vh; }
  &.height-75 { min-height: 75vh; }
  &.height-85 { min-height: 85vh; }
  &.height-100 { min-height: 100vh; }

  .hero-content {
    max-width: 95%;
    color: white;
    padding: 0 1rem;
  }

  &.margin-top-small .hero-content {
    margin-top: 3vh;
  }

  &.margin-top-medium .hero-content {
    margin-top: 5vh;
  }

  &.margin-top-large .hero-content {
    margin-top: 20vh;
  }

  app-title {
    display: block;
    margin-top: 10rem;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    &.margin-top-small .hero-content {
      margin-top: 12vh;
    }

    &.margin-top-medium .hero-content {
      margin-top: 22vh;
    }

    &.margin-top-large .hero-content {
      margin-top: 32vh;
    }
  }

  @media (min-width: 1025px) {
    &.margin-top-small .hero-content {
      margin-top: 15vh;
    }

    &.margin-top-medium .hero-content {
      margin-top: 25vh;
    }

    &.margin-top-large .hero-content {
      margin-top: 35vh;
    }

    app-title {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    app-separator {
      margin: 0.75rem 0;
    }
  }
}
