@use 'themes/theme-entry' as *;

.hero-container {
  min-height: 100vh;
  height: auto;
  overflow: visible; 
  display: block;

  .hero-content {
    max-width: 95%;
    color: white;
    padding: 0 1rem;
    margin-top: 20vh;

    app-title {
      display: block;
      margin-top: 10rem;
      margin-bottom: 0.5rem;
    }
  }

// Tablets (e.g., iPads in portrait)
@media (min-width: 600px) and (max-width: 1024px) {
  .hero-content {
    margin-top: 15vh;
  }
}

// Desktops and large screens
@media (min-width: 1025px) {
  .hero-content {
    margin-top: 30vh;
  }
    app-title {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    app-separator {
      margin: 0.75rem 0;
    }
  }
}

