<div
  class="image-section"
  [ngClass]="[shadow, 'height-' + height, parallax ? 'is-parallax' : '']"
  [ngStyle]="sectionStyleVars"
>
  @if (backgroundImage) {
    <img
      class="image-section-bg"
      [src]="normalizedBackgroundImage"
      [alt]="backgroundAlt"
      [attr.fetchpriority]="imagePriority"
      [attr.loading]="imageLoading"
      [attr.decoding]="imageDecoding"
      [ngClass]="[
        'fit-' + backgroundFit,
        'pos-' + backgroundPositionClass
      ]"
    />
  }

  <div class="overlay"></div>

  <div class="section-content">
    <ng-content></ng-content>
  </div>
</div>