@use 'themes/theme-entry' as *;

.image-section {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  overflow: hidden;

  &.height-50 { min-height: 50vh; }
  &.height-75 { min-height: 75vh; }
  &.height-85 { min-height: 85vh; }
  &.height-100 { min-height: 100vh; }

  .overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
  }

  &.light-shadow .overlay {
    background-color: rgba($white, 0.3);
  }

  &.dark-shadow .overlay {
    background-color: rgba($black, 0.3);
  }

  .section-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
  }

  @media (max-width: 768px) {
    background-attachment: scroll; 
    background-size: 300% auto;     
    background-position: top center;
    min-height: 70vh;                  
  }
}
