<app-image-hero
  id="topSection"
  [paragraphText]="paragraphText"
  [paragraphAlign]="'center'"
  [paragraphWeight]="'bold'"
  [paragraphColor]="'light'"
  [paragraphType]="'blur'"
  [paragraphSize]="'large'"
  [backgroundImage]="'assets/images/farewell/Historie-Washington-DC-Electrolysis.jpg'"
  [shadow]="'dark'"
  [titleLevel]="'h1'"
  [title]="'Die Elektrolyse existiert seit viel länger als ihr denkt.'"
  [titleType]="'blur'"
  [height]="'75'"
  >
</app-image-hero>
<app-epilation-history></app-epilation-history>