<ng-container *ngIf="link; else regularButton">
  <ng-container *ngIf="external; else internalLink">
    <a
      [href]="link"
      class="farewell-btn"
      [ngClass]="theme"
      [attr.target]="target"
      [attr.rel]="rel"
      [attr.aria-label]="ariaLabel || label"
      (click)="handleClick()"
    >
      <span class="farewell-btn__label">{{ label }}</span>
    </a>
  </ng-container>

  <ng-template #internalLink>
    <a
      [routerLink]="link"
      class="farewell-btn"
      [ngClass]="theme"
      [attr.aria-label]="ariaLabel || label"
      (click)="handleClick()"
    >
      <span class="farewell-btn__label">{{ label }}</span>
    </a>
  </ng-template>
</ng-container>

<ng-template #regularButton>
  <button
    type="button"
    class="farewell-btn"
    [ngClass]="theme"
    [attr.aria-label]="ariaLabel || label"
    (click)="handleClick()"
  >
    <span class="farewell-btn__label">{{ label }}</span>
  </button>
</ng-template>