@use 'themes/theme-entry' as *;
@use 'sass:color';

.farewell-btn {
  font-family: $font, sans-serif;
  font-weight: 550;
  font-size: 1.15rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid;
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;

  width: 100%;
  max-width: 300px;

  &:hover {
    transform: translateY(1px);
    filter: brightness(1.05);
  }

  &.light {
    background-color: rgba($light-1, 0.6);
    border-color: color.adjust($light-2, $lightness: -15%);
    color: $dark-2;
  }

  &.dark {
    background-color: rgba($dark-2, 0.4);
    border-color: color.adjust($dark-2, $lightness: 15%);
    color: $light-1;
  }
}
