<app-image-hero
  id="topSection"
  [paragraphText]="paragraphText"
  [paragraphAlign]="'center'"
  [paragraphWeight]="'bold'"
  [paragraphColor]="'light'"
  [backgroundImage]="'assets/images/farewell/farewellStudio4.png'"
  [shadow]="'dark'"
  [titleLevel]="'h1'"
  [buttonList]="buttonList">
</app-image-hero>

<app-text-block
    [title]="'15. September 2025: Eröffnung'"
    [theme]="'light'"
    [paragraphAlign]="'justify'"
    >
    Freut euch auf die Eröffnung unseres neuen Salons FareWell, dem ersten Spezialisten für permanente Haarentfernung mittels Elektrolyse in Nürnberg! <br><br>
    Ab dem 15.09.2025 sind wir für euch da, zentral gelegen, gleich beim Weißen Turm.
</app-text-block>

<app-parallax 
    [imageSrc]="'../../../assets/images/treatment/armpit.png'"
    [title]="'Values'">
</app-parallax>

<app-text-block 
    [theme]="'dark'"
    [paragraphAlign]="'center'"
    [title]="'Bester Mehrwert für unsere Kund:innen'">
        Bei FareWell stehen dauerhafte Ergebnisse und echte Wahlfreiheit im Mittelpunkt.<br>
        Wir bringen die Elektrolyse, die einzige wirklich permanente Haarentfernungsmethode, ins Rampenlicht.<br>
        Sie funktioniert bei <strong>jedem Hauttyp und an jeder Körperstelle</strong>, ganz ohne Einschränkungen.<br><br>

        Unsere Kund:innen entscheiden sich nicht nur gegen Rasur, Waxing oder Hautirritationen,<br>
        sie entscheiden sich für <strong>lebenslange Glätte, Selbstbewusstsein und Freiheit von ständiger Pflege</strong>.<br>
        Keine eingewachsenen Haare, keine Schnitte, keine Schmerzen.<br>
        Nur Ruhe im Kopf, und auf der Haut.<br><br>

        <strong>FareWell, für alle, die sich nicht ein Leben lang rasieren wollen.</strong>
</app-text-block>

<app-text-block 
    [theme]="'light'"
    [paragraphAlign]="'center'"
    [title]="'Nachhaltigkeit bei FareWell'">
    Bei FareWell setzen wir auf echte, permanente Haarentfernung, und damit auch auf Umweltschutz. Durch Elektrolyse braucht es keine Klingen, Rasierschaum, Enthaarungscremes oder Einwegprodukte mehr. <br>
    Weniger Müll, weniger Chemie, mehr Nachhaltigkeit.

    Allein in den USA werden jährlich über 
    <a href="https://css.washingtonpost.com/climate-solutions/2024/05/19/safety-razor-sustainability/?utm_source=chatgpt.com" target="_blank" rel="noopener noreferrer">
    2 Milliarden Einwegrasierer
    </a> 
    entsorgt.<br>
    Weltweit hochgerechnet sind es viele Milliarden Stück, das verursacht enorme Mengen an Plastik, und Metallmüll.<br>
    Und das betrifft nur Einwegrasierer. Die Haarentfernungsindustrie insgesamt verursacht noch deutlich mehr Abfall.<br><br>
    Lass uns gemeinsam dafür sorgen, dass diese Zahl kleiner wird.

    Eine Entscheidung für FareWell ist auch eine Entscheidung für unsere Umwelt.    
</app-text-block>

<app-parallax 
    [imageSrc]="'../../../assets/images/farewell/calendar.jpg'"
    [title]="'Öffnungzeiten'">
</app-parallax>

<app-opening-hours></app-opening-hours>
