<app-image-hero
  [paragraphText]="paragraphText"
  [paragraphAlign]="'center'"
  [paragraphWeight]="'bold'"
  [paragraphColor]="'light'"
  [backgroundImage]="'assets/images/farewell/farewellStudio4.png'"
  [shadow]="'dark'"
  [titleLevel]="'h1'"
  [buttonList]="buttonList">
</app-image-hero>

<app-text-block
    [title]="'15. September 2025: Eröffnung'"
    [theme]="'light'"
    [paragraphAlign]="'justify'"
    >
    Freut euch auf die Eröffnung unseres neuen Salons FareWell, dem ersten Spezialisten für permanente Haarentfernung mittels Elektrolyse in Nürnberg! <br><br>
    Ab dem 15.09.2025 sind wir für euch da, zentral gelegen, gleich beim Weißen Turm.
</app-text-block>

<app-parallax 
    [imageSrc]="'../../../assets/images/treatment/armpit.png'"
    [title]="'Values'">
</app-parallax>

<app-text-block 
    [theme]="'dark'"
    [paragraphAlign]="'center'"
    [title]="'Bester Mehrwert für unsere Kund:innen'">
        Bei FareWell stehen dauerhafte Ergebnisse und echte Wahlfreiheit im Mittelpunkt.<br>
        Wir bringen die Elektrolyse, die einzige wirklich permanente Haarentfernungsmethode, ins Rampenlicht.<br>
        Sie funktioniert bei <strong>jedem Hauttyp und an jeder Körperstelle</strong>, ganz ohne Einschränkungen.<br><br>

        Unsere Kund:innen entscheiden sich nicht nur gegen Rasur, Waxing oder Hautirritationen,<br>
        sie entscheiden sich für <strong>lebenslange Glätte, Selbstbewusstsein und Freiheit von ständiger Pflege</strong>.<br>
        Keine eingewachsenen Haare, keine Schnitte, keine Schmerzen.<br>
        Nur Ruhe im Kopf, und auf der Haut.<br><br>

        <strong>FareWell, für alle, die sich nicht ein Leben lang rasieren wollen.</strong>
</app-text-block>

<app-text-block 
    [theme]="'light'"
    [paragraphAlign]="'center'"
    [title]="'Nachhaltigkeit bei FareWell'">
    Bei FareWell setzen wir auf echte, permanente Haarentfernung, und damit auch auf Umweltschutz. Durch Elektrolyse braucht es keine Klingen, Rasierschaum, Enthaarungscremes oder Einwegprodukte mehr. <br>
    Weniger Müll, weniger Chemie, mehr Nachhaltigkeit.

    Allein in den USA werden jährlich über 
    <a href="https://css.washingtonpost.com/climate-solutions/2024/05/19/safety-razor-sustainability/?utm_source=chatgpt.com" target="_blank" rel="noopener noreferrer">
    2 Milliarden Einwegrasierer
    </a> 
    entsorgt.<br>
    Weltweit hochgerechnet sind es viele Milliarden Stück, das verursacht enorme Mengen an Plastik, und Metallmüll.<br>
    Und das betrifft nur Einwegrasierer. Die Haarentfernungsindustrie insgesamt verursacht noch deutlich mehr Abfall.<br><br>
    Lass uns gemeinsam dafür sorgen, dass diese Zahl kleiner wird.

    Eine Entscheidung für FareWell ist auch eine Entscheidung für unsere Umwelt.    
</app-text-block>

<app-parallax 
    [imageSrc]="'../../../assets/images/farewell/calendar.jpg'"
    [title]="'Öffnungzeiten'">
</app-parallax>

<app-opening-hours></app-opening-hours>

    <p class="top-small-text">
        The Windmill Project Team is there for you if you have questions, want to be part of our NGO or if you simply want know more about our mission.
    </p>
    <app-orbitron></app-orbitron>
    <div class="rela-block contact-form-container">
        <div class="contact-half contact-left">
            <h2 class="small-header">Don't hesitate to contact us.</h2>
            <div class="rela-block left-quad-container">
                <div class="contact-quad">42 Cannon Iland Way<br>Cape Town<br>7985</div>
                <div class="contact-quad">+27 73 594 4023<br>+49 157 3444 2716</div>
                <div class="contact-quad">gmail.com</div>
                <div class="contact-quad">M-F: 9 AM - 2 PM<br>Sa: 9AM - 12PM<br>Su: Closed</div>
            </div>
        </div>
    </div>
<div class="rela-block footer-section">
    <h2 class="small-header"><a href="#topSection">
        Back to Top</a></h2>
        <div class="rela-block social-buttons-container">
            <div class="social-button facebook-button"></div>
            <div class="social-button twitter-button"></div>
            <div class="social-button instagram-button"></div>
        </div>
    <p>
        Classic deluxe custom designer luxury prestige high-quality premium select gourmet pocket pencil sharpener.<br>Yours for the asking, no purchase necessary. It's our way of saying thank you.
    </p>
</div>