@use 'themes/theme-entry' as *;
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://fonts.googleapis.com/css?family=Orbitron:700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

a {
    color: $black;
    text-decoration: none;
    background-color: none;
}
* {
    transition: 0.4s ease;
}
body {
    overflow-x: hidden;
    font-family: $font;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}
.rela-block {
    display: block;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
}
.floated {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    &.left {
        float: left;
    }
    &.right {
        float: right;
    }
}
.grad-back {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(transparent, rgba(0,0,0,0.9));
        z-index: 0;
    }
}
.top-text {
    color: $white;
    top: 58%;
    line-height: 28px;
}
.top-small-text {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 2px;
    font-weight: 400;
}
.big-text {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: 20px;
    margin-bottom: 60px;
}
.half-big-text {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 3vw;
    line-height: 48px;
    letter-spacing: 12px;
    margin-bottom: 45px;
}
.under-top-section {
    color: $white;
    background-color: $black;
    text-align: left;
    padding: 0 6%;
}
.under-top-big-text {
    margin-top: 80px;
}
.under-top-small-text {
    width: 84%;
    max-width: 580px;
    margin-bottom: 50px;
}
.welcome-section {
    height: 520px;
    background-size: 1100px 660px;
    background-size: 800px 580px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to left, var(--white) 48%, transparent);
    }
}
.welcome-text {
    right: 0;
    width: 45%;
    max-width: 900px;
    transform: translateY(-50%);
    text-align: center;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    .big-text {
        margin-bottom: 30px;
    }
    p {
        max-width: 480px;
        margin: 0 auto 40px;
    }
}
.has-lines {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding: 13px 45px;
    border-left: 2px solid;
    border-right: 2px solid;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 10px;
    &:before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    &:hover {
        &::before {
            top: 8px;
        }
        &::after {
            bottom: 10px;
        }
    }
}
.has-lines::before,
.has-lines::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 45px;
    right: 45px;
    transition: 0.2s ease;
}
.has-lines.white:hover::before,
.has-lines.white:hover::after {
    background-color: var(--white);
}
.has-lines.black:hover::before,
.has-lines.black:hover::after {
    background-color: var(--black);
}
.about-us-section {
    padding: 250px 0 80px;
    padding: 160px 0 40px;
    padding: 80px 0 0;
    & > p {
        display: block;
        position: relative;
        width: 65%;
        margin: 30px auto 20px;
    }
    .explanation {
        text-align: justify;
    }
}
.about-us-quad-container,
.about-us-bottom-container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto 100px;
}
.quad-half {
    width: 50%;
    text-align: left;
    padding: 30px 20px 10px;
    p {
        width: 90%;
    }
}
.small-header {
    font-family: $font;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 8px;
    margin-bottom: 20px;
}
.bottom-left-side {
    text-align: left;
    width: 65%;
    p {
        width: 90%;
    }
}
.bottom-left-side .small-header,
.bottom-left-side .lines-thing {
    margin-bottom: 45px;
}
.bottom-right-side {
    width: 35%;
    text-align: left;
    line-height: 30px;
    p {
        font-family: $font;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 3px;
    }
}
.portfolio-section {
    color: var(--white);
}
.portfolio-top {
    background: url("https://unsplash.it/3000/1987?image=931") no-repeat center;
    background-size: 100% 100%;
    color: var(--black);
    .half-big-text {
        margin: 90px auto;
    }
}
.portfolio-second {
    padding: 50px 0;
    background-color: $black;
}
.portfolio-collage {
    height: 1000px;
    margin: auto;
}
.collage-column {
    height: 100%;
    width: 33.3333333%;
    height: 33.333333%;
    width: 100%;
    &:nth-child(1) {
        .collage-image {
            &.third {
                height: 33.333333%;
            }
        }
    }
}
.portfolio-bottom {
    height: 300px;
    background: #1d1d1d;
    height: 450px;
}
.quarter-div {
    height: 100%;
    width: 25%;
    height: 50%;
    width: 50%;
    height: 25%;
    width: 100%;
    .big-text {
        letter-spacing: 4px;
        margin-bottom: 15px;
        margin-bottom: 10px;
    }
}
.team-section {
    padding: 85px 0 0px;
    p {
        position: relative;
        width: 60%;
        margin: 0 auto 30px;
    }
}
.value-row {
    height: 500px;
}
.value-row-half {
    height: 100%;
    width: 50%;
    height: 50%;
    width: 100%;
    p {
        text-align: justify;
    }
    &.black-back {
        background-color: var(--black);
        color: var(--white);
        .abs-cent-text {
            height: 200px;
            width: 90%;
            margin-bottom: 20px;
            word-wrap: break-word;
        }
    }
}
.our-plans-section {
    background-color: $white;
    & > p {
        position: relative;
        width: 65%;
        margin: 0 auto 120px;
    }
}
.plans-container {
    margin: 40px 0 20px 0;
}
.plan {
    display: inline-block;
    position: relative;
    width: 25%;
    max-width: 335px;
    min-width: 270px;
    border: 10px solid;
    padding: 35px 0px;
    margin: 0px 15px 20px;
    margin: 0px 8px 20px;
    .half-big-text {
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 30px;
    }
    ul {
        position: relative;
        width: 90%;
        text-align: center;
        margin: 0 auto 10px;
        li {
            margin: 5px 0;
        }
    }
}
.testimonials-section {
    background-color: var(--black);
    color: var(--white);
    height: 500px;
    height: 600px;
}
.test-left {
    height: 100%;
    width: 42%;
    height: 30%;
    width: 100%;
    .abs-cent-text {
        width: 98%;
    }
}
.test-right {
    height: 100%;
    width: 58%;
    height: 70%;
    width: 100%;
    .space {
        margin-bottom: 60px;
        font-size: 16px;
        letter-spacing: 4px;
        line-height: 20px;
        letter-spacing: 2px;
        font-size: 14px;
    }
    .small-header {
        color: $accent-2;
        letter-spacing: 2px;
        margin-bottom: 6px;
    }
}
.contact-section {
    & > p {
        width: 90%;
        max-width: 900px;
        margin: 50px auto 50px;
    }
}
.contact-form-container {
    margin: auto;
}
.contact-half {
    display: inline-block;
    position: relative;
    width: 48%;
    vertical-align: top;
    margin: 0 0.5% 40px;
    width: 100%;
    margin: 0;
    text-align: center;
    .small-header {
        font-size: 14px;
        margin: 20px auto;
        letter-spacing: 2px;
    }
    .submit-button {
        cursor: pointer;
    }
}
.contact-left {
    text-align: left;
    .small-header {
        text-transform: none;
        letter-spacing: 1px;
        text-align: center;
    }
    .social-button {
        margin: 10px -10px;
        &:hover {
            transform: scale(0.75);
        }
    }
}
.left-quad-container {
    margin: 20px auto;
}
.contact-quad {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
    padding: 15px;
    text-align: center;
}
.contact-input {
    width: 85%;
    margin: 8px auto;
    font-family: $font;
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
    border: 5px solid;
    text-align: left;
    &.big-input {
        height: 140px;
        border-top: transparent;
        border-right: transparent;
    }
    &:focus {
        outline: none;
    }
}
.footer-section {
    padding: 75px 0;
    background: $black;
    color: var(--white);
    a {
        color: var(--white);
    }
    .small-header {
        margin-bottom: 20px;
    }
    .top-link {
        cursor: pointer;
    }
}
.social-buttons-container {
    justify-content: center;
}
.social-buttons-container {
    min-height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 20px;
    text-align: center;
}
.social-button {
    display: inline-block;
    position: relative;
    transform: scale(0.75);
    height: 75px;
    width: 75px;
    background-size: cover !important;
    transition: 0.3s ease;
    margin: 14px 2px;
    cursor: pointer;
    &:hover {
        transform: scale(1);
        transition: 0.3s cubic-bezier(0.3, 0.2, 0, 2.5);
    }
    &.twitter-button {
        background: url("https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/twitter-square-social-media-256.png") no-repeat center;
    }
    &.facebook-button {
        background: url("https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/facebook-square-social-media-256.png") no-repeat center;
    }
    &.instagram-button {
        background: url("https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/instagram-square-social-media-256.png") no-repeat center;
    }
    &.behance-button {
        background: url("https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/behance-square-social-media-256.png") no-repeat center;
    }
}
@media only screen and (max-width: 1300px) {
    .test-left .half-big-text {
        letter-spacing: 2px;
        padding: 15px 35px;
    }
}
@media only screen and (max-width: 1100px) {
    .big-text {
        font-size: 45px;
        line-height: 50px;
        letter-spacing: 14px;
    }
    .nav-logo {
        left: 4%;
    }
    .nav-links-container {
        right: 4%;
    }
    .nav-link{
        padding: 0 6px;
    }
    .welcome-section {
        background-size: 800px 580px;
    }
    .plan {
        margin: 0px 8px 20px;
    }
}


@media only screen and (max-width: 900px) {
    .nav-bar.scrolled .nav-links-container {
        top: 30px;
    }
    .nav-logo {
        left: 50px;
    }
    .nav-links-container {
        width: 140px;
        text-align: right;
        top: 40px;
        transform: none;
        right: 50px;
        &:hover {
            .nav-link {
                transition: 0.4s ease;
                height: 100%;
                opacity: 1;
            }
        }
    }
    .nav-link {
        display: block;
        height: 0;
        opacity: 0;
        transition: 0s ease;
        &.active {
            height: 100%;
            opacity: 1;
        }
    }
    .welcome-text {
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
    }
    .about-us-section {
        padding: 160px 0 40px;
    }
    .quarter-div {
        height: 50%;
        width: 50%;
    }
    .clients-section {
        height: 480px;
    }
    .client-part {
        height: 50%;
        width: 50%;
        &:nth-child(1) {
            width: 50%;
        }
    }
    .value-row-half {
        height: 60%;
        width: 100%;
    }
    .testimonials-section {
        height: 600px;
    }
    .test-left {
        height: 30%;
        width: 100%;
    }
    .test-right {
        height: 70%;
        width: 100%;
        .space {
            letter-spacing: 2px;
            font-size: 14px;
        }
    }
    .contact-half {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    .top-section {
      height: auto;
      padding: 80px 5% 60px;
      background-position: center center;
      background-size: cover;
    }
  
    .abs-cent-text.top-text {
      position: static;
      transform: none;
      width: 100%;
      padding: 0;
    }
  
    .top-text .big-text {
      font-size: 34px;
      line-height: 42px;
      letter-spacing: 6px;
      margin-bottom: 25px;
    }
  
    app-paragraph {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.5px;
      text-align: justify;
    }
  }
  
@media only screen and (max-width: 500px) {
    .big-text {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 6px;
        margin-bottom: 22px;
    }
    .half-big-text {
        font-size: 5vw
    }
    .portfolio-bottom {
        height: 450px;
    }
    .quarter-div {
        height: 25%;
        width: 100%;
        .big-text {
            margin-bottom: 10px;
        }
    }
    .value-row {
        height: 500px;
    }
    .value-row-half {
        height: 70%;
    }
}