@use 'themes/theme-entry' as *;

.button-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 900px;
  margin: 3rem auto;

  a {
    text-decoration: none;
    display: block;
    flex: 1 1 auto;
    width: 100%;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 900px;

    a {
      display: flex;
      justify-content: center;
      flex: 1 1 0;
      width: auto;
    }
  }
}
