@use 'themes/theme-entry' as *;

.lines {
  position: relative;
  height: 2px;
  width: 80px;
  background-color: $dark-1;
  margin: 3rem 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: $dark-1;
  }

  &::before {
    top: -12px;
  }

  &::after {
    bottom: -12px;
  }

  &.light {
    background-color: $light-1;

    &::before,
    &::after {
      background-color: $light-1;
    }
  }

  &.dark {
    background-color: $dark-1;

    &::before,
    &::after {
      background-color: $dark-1;
    }
  }

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }

  &.align-right {
    text-align: right;
  }

  &.align-justify {
    display: flex;
    justify-content: space-between;
  }

  &.margin-bottom {
    margin-bottom: 45px;
  }
}
