<div class="text-block" [ngClass]="theme">
    <app-title 
      [color]="inverseTextColor"
      [align]="paragraphAlign"
      [level]="'h3'"
      [title]="title"
      [type]="titleType"
    >
    </app-title>
  
    <app-separator *ngIf="separator"></app-separator>
    
    <app-paragraph
      class="small-block-paragraph"
      [color]="inverseTextColor"
      [size]="paragraphSize"
      [align]="paragraphAlign"
      [weight]="paragraphWeight"
      [maxWidth]="paragraphMaxWidth"
    >
      <ng-content></ng-content>
    </app-paragraph>
  </div>
  