<div class="image-text-block" [ngClass]="theme">
  <app-title
    [level]="'h2'"
    [title]="title"
    [color]="inverseTextColor"
    [align]="'center'"
  ></app-title>

  <div class="content" [ngClass]="{'reverse': imagePosition === 'left'}">
    <div
      class="image"
      [ngClass]="{ 'resize': resize }"
      [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}"
    ></div>

    <app-paragraph
      class="paragraph"
      [color]="inverseTextColor"
      [size]="'medium'"
      [align]="'left'"
      [weight]="'normal'"
      [maxWidth]="'wide'"
    >
      <ng-content></ng-content>
    </app-paragraph>
  </div>
</div>
