<div [ngClass]="{scrolled: scrolled}" class="nav-bar">
  <a [routerLink]="'/'" class="nav-logo" (click)="setActiveTab('home')">FareWell</a>

  <!-- Burger Icon -->
  <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Nav links -->
  <div class="nav-links-container" [ngClass]="{ open: menuOpen }">
    <a
      href="https://salonkee.de/salon/farewell?lang=de"
      target="_blank"
      rel="noopener noreferrer"
      class="nav-link"
      >Termin Buchen</a
    >
    <a
      [routerLink]="'/behandlung'"
      routerLinkActive="active"
      (click)="setActiveTab('behandlung')"
      class="nav-link"
      >Behandlung & Wirkung</a
    >
    <a
      [routerLink]="'/zeit'"
      routerLinkActive="active"
      (click)="setActiveTab('zeit')"
      class="nav-link"
      >Elektrolyse-Zeitberechnung</a
    >
    <a
      [routerLink]="'/historie'"
      routerLinkActive="active"
      (click)="setActiveTab('historie')"
      class="nav-link"
      >Historie</a
    >
    <a
      [routerLink]="'/price'"
      routerLinkActive="active"
      (click)="setActiveTab('price')"
      class="nav-link"
      >Preis</a
    >
  </div>
</div>
