<div [ngClass]="{scrolled: scrolled}" class="nav-bar">
  <a [routerLink]="'/'" class="nav-logo" (click)="setActiveTab('home')">FareWell</a>

  <!-- Burger Icon -->
  <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Nav links -->
  <div class="nav-links-container" [ngClass]="{ open: menuOpen }">
    <a
      [routerLink]="'/'"
      routerLinkActive="active"
      (click)="setActiveTab('home')"
      class="nav-link"
      >Home</a
    >
    <a
      [routerLink]="'/behandlung'"
      routerLinkActive="active"
      (click)="setActiveTab('behandlung')"
      class="nav-link"
      >Behandlung & Wirkung</a
    >
    <a
      [routerLink]="'/zeit'"
      routerLinkActive="active"
      (click)="setActiveTab('zeit')"
      class="nav-link"
      >Elektrolyse-Zeitberechnung</a
    >
    <a
      [routerLink]="'/historie'"
      routerLinkActive="active"
      (click)="setActiveTab('historie')"
      class="nav-link"
      >Historie</a
    >
    <a
      [routerLink]="'/contact'"
      routerLinkActive="active"
      (click)="setActiveTab('contact')"
      class="nav-link"
      >Contact</a
    >
  </div>
</div>
